
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 639px) {
  .custom-mt {
    margin-top: 2rem; /* Custom margin-top for small screens */
  }
}

@media (max-width: 639px) {
  .custom-font-small {
    font-size: 9px; /* 14px */
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .custom-font-medium {
    font-size: 9px; /* 20px */
  }
}

@media (min-width: 1024px) {
  .custom-font-large {
    font-size: 9.5px; /* 30px */
  }
}
